*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
/* Experience */
.experience{
  width: 100vw;
  height: 100vh;
}
.experience-canvas{
  position: fixed;
  width: 100%;
  height: 100%;
}
/* Page */
header{
  display: block;
  width: auto;
  height: 70px;

  background-color: #ffffff;
}
header h1{
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}
h1 {
  font-family: 'Arvo', serif;
}
/* .page {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
} */
/* hero */
.hero{
  width: 100vw;
  height: 100vh;
}